<a href="https://colab.research.google.com/github/SAHITHIREDDY-GUDIPATI/PYTHON-DOCUMENTATION/blob/main/06_Python_Collections_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Collections (Data Structures) :**

Python provides several built-in data structures to store and manage data efficiently. These include "Lists, Tuples, Dictionaries, and  Sets".

Each serves a unique purpose depending on the type of operations required.

**1. Lists :**

A list is an ordered, mutable collection that can hold a variety of data types.

Key Features:
1.   Allows duplicate elements.
2. Items can be added,
3. removed, or
4. modified.
          Syntax:
          my_list = [item1, item2, item3, ...]

In [ ]:
# Creating a list
fruits = ["Apple", "Banana", "Cherry"]

# Accessing elements
print(fruits[0])  # Output: Apple

# Modifying elements
fruits[1] = "Blueberry"
print(fruits)  # Output: ['Apple', 'Blueberry', 'Cherry']

# Adding elements
fruits.append("Mango")
print(fruits)  # Output: ['Apple', 'Blueberry', 'Cherry', 'Mango']

# Removing elements
fruits.remove("Blueberry")
print(fruits)  # Output: ['Apple', 'Cherry', 'Mango']

Apple
['Apple', 'Blueberry', 'Cherry']
['Apple', 'Blueberry', 'Cherry', 'Mango']
['Apple', 'Cherry', 'Mango']

**2. Tuples :**

A tuple is an ordered, immutable collection of items.

Key Features:

1. Faster than lists.
2. Ideal for data that should not change.

        Syntax:
        my_tuple = (item1, item2, item3, ...)

In [ ]:
# Creating a tuple
coordinates = (10, 20, 30)

# Accessing elements
print(coordinates[1])  # Output: 20

# Tuples are immutable
# coordinates[1] = 40  # This will raise an error

20

**3. Dictionaries :**

A dictionary stores data as key-value pairs. It is unordered and mutable.

Key Features:

1. Keys must be unique and immutable.
2. Values can be of any data type.

        Syntax:
        my_dict = {key1: value1, key2: value2, ...}

In [ ]:
# Creating a dictionary
student = {"name": "Alice", "age": 20, "grade": "A"}

# Accessing values
print(student["name"])  # Output: Alice

# Adding key-value pairs
student["major"] = "Computer Science"
print(student)

# Modifying values
student["age"] = 21
print(student)

# Removing a key-value pair
del student["grade"]
print(student)

Alice
{'name': 'Alice', 'age': 20, 'grade': 'A', 'major': 'Computer Science'}
{'name': 'Alice', 'age': 21, 'grade': 'A', 'major': 'Computer Science'}
{'name': 'Alice', 'age': 21, 'major': 'Computer Science'}

**4. Sets  :**

A set is an unordered collection of unique elements.

Key Features:

1. Does not allow duplicates.
2. Useful for mathematical set operations.

        Syntax:
        my_set = {item1, item2, item3, ...}

In [ ]:
# Creating a set
colors = {"red", "blue", "green"}

# Adding elements
colors.add("yellow")
print(colors)  # Output: {'red', 'blue', 'green', 'yellow'}

# Removing elements
colors.remove("blue")
print(colors)  # Output: {'red', 'green', 'yellow'}

# Set operations
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Union
print(set1 | set2)  # Output: {1, 2, 3, 4, 5}

# Intersection
print(set1 & set2)  # Output: {3}

{'red', 'yellow', 'green', 'blue'}
{'red', 'yellow', 'green'}
{1, 2, 3, 4, 5}
{3}

![Screenshot (53).png]()

**6. Exercises**




*   Task 1: List Operations
Create a list of numbers from 1 to 10. Replace the number 5 with 50 and then remove the last element from the list.

*   Task 2: Dictionary Access
Create a dictionary to store information about a book (e.g., title, author, price). Add a new key for the publication year and modify the price.
*   Task 3: Set Operations
Create two sets and perform union, intersection, and difference operations on them.

In [ ]:
#task1
list1=[1,2,3,4,5,6,7,8,9,10]
list1[4]=50
list1.pop()
print(list1)

[1, 2, 3, 4, 50, 6, 7, 8, 9]

In [ ]:
#task2
# Create a dictionary for the book
book = {
    "title": "To Kill a Mockingbird",
    "author": "Harper Lee",
    "price": 499
}
# Add a new key for the publication year
book["publication_year"] = 1960
# Modify the price
book["price"] = 450
# Print the updated dictionary
print(book)

{'title': 'To Kill a Mockingbird', 'author': 'Harper Lee', 'price': 450, 'publication_year': 1960}

In [ ]:
#task3
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Perform union
union_result = set1 | set2  # Or set1.union(set2)
print("Union:", union_result)

# Perform intersection
intersection_result = set1 & set2  # Or set1.intersection(set2)
print("Intersection:", intersection_result)

# Perform difference (elements in set1 but not in set2)
difference_result = set1 - set2  # Or set1.difference(set2)
print("Difference (set1 - set2):", difference_result)

# Perform difference (elements in set2 but not in set1)
difference_result_reverse = set2 - set1
print("Difference (set2 - set1):", difference_result_reverse)

Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference (set1 - set2): {1, 2, 3}
Difference (set2 - set1): {8, 6, 7}